{%extends 'profile/base.html' %}


{%block content%}
{{block.super}}
<div class="container text-center">
  <div class="row" style="margin-top:100px ;">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div>
        <table class="table table-borderless">
          <tr>
            <td>
              <img src="{{userprofile.picture.url}}" alt="picture" width="200" height="200" class="profpicimg">
            </td>
            <td>
              <p>{{current_user.username}}</p>
              <p>{{userprofile.bio}}</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  <h3> {{current_user.username}}'s Projects</h3>
  <a href="{% url 'uploadproject' %}">Upload a Project</a>
</div>

{%endblock%}