{%extends 'profile/base.html' %}


{%block content%}
{{block.super}}
<div class="container text-center">
  <div class="row" style="margin-top:100px ;">
    <div class="col-md-2">
    </div>
    <div class="col-md-7">
      <div>
        <table class="table table-borderless">
          <tr>
            <td>
              <img src="{{userprofile.picture.url}}" alt="picture" width="200" height="200" class="profpicimg">
            </td>
            <td style="padding-top: 60px;">
              <h2 class="username">{{current_user.username.capitalize}}</h2>
              <blockquote class="bio">{{userprofile.bio}}</blockquote>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-3">
      <div style="margin-top:70px ;">
        <a href="{% url 'uploadproject' %}" class="btn btn-outline-success">Upload a Project</a>
      </div>
      
    </div>
  </div>
  <h4 class="username"> {{current_user.username.capitalize}}'s Projects</h4>
  <div class="row">

    {%for project in projects%}
    <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12 box">
      <a href="{%url 'singleproject' project.id%}">
        <h5 class="titles">{{project.title}}</h5>
      </a>
      <img src="{{project.landing_page.url}}" alt="{{project.title}}"><br>
      <blockquote><a href="{{project.live_site}}">{{project.live_site}}</a></blockquote>
      <cite class="text-muted">posted {{project.pub_date|timesince}} ago</cite>
    </div>

    {%endfor%}
  </div>

</div>

{%endblock%}