{%extends 'project/base.html'%}
{%load static%}

{%block content%}
{{block.super}}
<div class="container text-center">

  <div style="margin-top: 100px;">
  
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="fill">
          <img src="{{project.landing_page.url}}" alt="{{project.title}}">
        </div>
        <p class="names">By {{project.profile.first_name.capitalize}}</p>
      </div>
      <div class="col-md-6 col-lg-6 my-auto">
        <h3 class="titles">{{project.title}}</h3>
        <cite class="description">{{project.description}}</cite>
        <a href="{{project.live_site}}"><blockquote class="description">{{project.live_site}}</blockquote></a>
        <p class="names">Jury Average: {{jury_average}}</p>
        {%if ratingnumber == 1%}
          <p>You've already rated this project</p>
        {%else%}
        <div>
          <a class="btn btn-outline-success" href="{% url 'rateproject' project.id %}">Rate</a>
        </div>
        {%endif%}
      </div>
    </div>
  </div>

  <div>
    <h3 class="ratings">Ratings</h3>
    {% for rating in ratings%}
    <p> <span class="names" style="margin-right: 20px;">{{rating.profile.first_name.capitalize}}</span> 
      <span class="mr-2 description">Design: {{rating.design}}</span>
      <span class="mr-2 description">Usability: {{rating.usability}}</span>
      <span class="mr-2 description">Content: {{rating.content}}</span>
      <span class="mr-2 description">Average: {{rating.average}}<i class="far fa-star ml-2" ></i></span>    
     </p>
       {%endfor%}
  </div>
  
</div>
{%endblock%}