{%extends 'project/base.html'%}
{%load static%}

{%block content%}
{{block.super}}
<div class="container">
  <div style="margin-top: 100px;">
    <p>{{project.title}}</p>
  <p>{{project.description}}</p>
  <p>{{project.live_site}}</p>
  <p>{{project.profile}}</p>
  </div>
  <div>
    <h3>Ratings</h3>
    {% for rating in ratings%}
      <p>{{rating.profilr}}</p>
      <p></p>
      <p></p>
      <p></p>
  </div>
  <div>
    <a href="{% url 'rateproject' project.id %}">Rate</a>
  </div>
  
</div>
{%endblock%}