{% extends "django_registration/base.html" %}
{% load bootstrap4 %}
{% load static %}


{% block content%}
<div class="container text-center">
  <div class="row" style="margin-top: 150px;">
    <!--Empty div-->
    <div class="col-md-4">
      <div style="margin-top: 100px;">
      <img src="{% static 'images/Black Businessman.png'%}" alt="black-business-man" width="300" height="300">
      <h3 class="text-center">Join Us and Be A Pro</h3>
    </div>
    </div>
    <div class="col-md-4 ">
      {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        <i>Some information Might be Incorrect</i>
      </div> 
      {%endif%}
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h2>Register Today</h2>
        </div>
        <div class="panel-body">
          <form action="/accounts/register/" method="POST">
          {%csrf_token%}
          {% bootstrap_form form %}
          <div class="form-group">
            <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
          </div>
          <input type="hidden" name="next" value="{{next}}">
        </form>

        </div>

        </div>

      </div>
    </div>
    <div class="col-md-4">
    </div>

  </div>

</div>
{%endblock%}