.profpicimg{
  border-radius: 50%;
}

.username{
  font-family: 'Piedra', cursive;
}

.titles{
  font-family: 'Bellota', cursive;
  font-size: 25px;
}

.box{
  margin-top: 20px;
}

body{
  background-color: rgba(100,200,100, 0.3);
}